---
layout: default
title: home
---

<!-- Search Section -->
<section class="search-section home-search">
    <div class="masthead text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-md-auto">
                    <h1>Machine Learning | Funix</h1>
                    <p class="lead text-muted">Notes, codes, reference...</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Topics -->
<section class="topics">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-6">
                {% include introduction-ml.html %}
            </div>
            <div class="col-xl-4 col-md-6">
                {% include regression-ml.html %}
            </div>
            <div class="col-xl-4 col-md-6">
                {% include classification-ml.html %}
            </div>
            <div class="col-xl-4 col-md-6">
                {% include deeplearning.html %}
            </div>
            <div class="col-xl-4 col-md-6">
                {% include other-topics.html %}
            </div>
            
        </div>
    </div>
</section>