<div class="topics-wrapper border-style">
    <h3><a href="#"><span class="icon icon-circle-o text-green"></span>Classification</a></h3>
    <hr>
    <ul class="topics-list">
        <li><a href="#"> Giới thiệu bài toán phân loại </a>
        </li>
        <li><a href="#"> Gradient Decent với hồi quy Logistic </a>
        </li>
        <li><a href="#"> Numpy and Vectorization </a>
        </li>
        <hr>
        <li><a href="#"> Shallow Neural network </a>
        </li>
        <li><a href="#"> Deep Neural network </a>
        </li>
        <li><a href="#"> Regularization </a>
        </li>
        <li><a href="#"> Tối ưu mô hình DNN </a>
        </li>
        <li><a href="#"> Hyperparameters Tuning (Điều chỉnh siêu tham số) </a>
        </li>
        <hr>
        <li><a href="#"> SVM </a>
        </li>
        <li><a href="#"> Decision tree </a>
        </li>
        <li><a href="#"> Rời rạc hoá </a>
        </li>
        <li><a href="#"> Lựa chọn đặc trưng theo cây quyết định </a>
        </li>
        <hr>
        <li><a href="#"> Dữ liệu không cân bằng </a>
        </li>
        <li><a href="#"> Phép đánh giá </a>
        </li>
        <li><a href="#"> Undersampling (lấy mẫu dưới) </a>
        </li>
        <li><a href="#"> Oversampling (lấy mẫu thừa) </a>
        </li>
        <hr>
        <li><a href="#"> Tổng quan về Ensembling </a>
        </li>
        <li><a href="#"> Phương pháp Ensemble với dữ liệu không cân bằng </a>
        </li>
    </ul>
    <ul class="topics-meta">
        <li>18 Lessons</li>
    </ul>
</div>