<div class="topics-wrapper border-style">
    <h3><a href="#"><span class="icon icon-circle-o text-purple"></span>Deep learning</a>
    </h3>
    <hr>
    <ul class="topics-list">
        <li><a href="#"> Giới thiệu về học sâu </a>
        </li>
        <li><a href="#"> Xử lý hình ảnh với OpenCV </a>
        </li>
        <li><a href="#"> Xử lý text với Python </a>
        </li>
        <li><a href="#"> Xử lý ngôn ngữ tự nhiên với python </a>
        </li>
        <hr>
        <li><a href="#"> Fundamental Convolutional Neural Network (CNN - mạng tích chập) </a>
        </li>
        <li><a href="#"> Các kiến trúc CNN cơ bản </a>
        </li>
        <li><a href="#"> Object Detection (Phát hiện đối tượng) </a>
        </li>
        <li><a href="#"> Image Segmentation (Phân khúc hình ảnh) </a>
        </li>
        <li><a href="#"> Face Recognition </a>
        </li>
        <hr>
        <li><a href="#"> Recurrent Neural Networks (RNN - mạng nơron hồi tiếp) </a>
        </li>
        <li><a href="#"> Word Embeddings </a>
        </li>
        <li><a href="#"> Sequence models </a>
        </li>
        <li><a href="#"> Transformer Network </a>
        </li>
    </ul>
    <ul class="topics-meta">
        <li>13 Lessons</li>
    </ul>
</div>