<div class="topics-wrapper border-style">
    <h3><a href="#"><span class="icon icon-circle-o text-blue"></span>Introduction</a></h3>
    <hr>
    <ul class="topics-list">
        <li><a href="posts/c1-ml-basic/l1-introduction-ml.html"> Giới thiệu về machine learning </a>
        </li>
        <hr>
        <li><a href="posts/c1-ml-basic/l2-python-basic.html"> Python cơ bản: Cấu trúc dữ liệu </a>
        </li>
        <li><a href="posts/c1-ml-basic/l3-python-advance.html"> Python nâng cao: OOP và API </a>
        </li>
        <li><a href="posts/c1-ml-basic/l4-numpy.html"> Numpy trong Python </a>
        </li>
        <li><a href="posts/c1-ml-basic/l5-pandas.html"> Làm việc với dữ liệu và Pandas </a>
        </li>
        <li><a href="posts/c1-ml-basic/l6-matplotlib.html"> Trực quan hóa dữ liệu với Matplotlib </a>
        </li>
        <hr>
        <li><a href="#"> Đại số tuyến tính - Vectơ </a>
        </li>
        <li><a href="#"> Đại số tuyến tính - Ma trận </a>
        </li>
        <li><a href="#"> Giải tích đa biến - Gradient và Đạo hàm </a>
        </li>
        <li><a href="#"> Giải tích đa biến - Quy tắc dây chuyền và bài toán tối ưu </a>
        </li>
        <li><a href="#"> Thống kê mô tả </a>
        </li>
        <li><a href="#"> Tương quan và hồi quy </a>
        </li>
        <li><a href="#"> Xác suất </a>
        </li>
        <li><a href="#"> Phân phối xác suất </a>
        </li>
        <li><a href="#"> Bài toán hồi quy tuyến tính </a>
        </li>
        <li><a href="#"> Bài toán phân loại </a>
        </li>
        <li><a href="#"> Bài toán phân cụm </a>
        </li>
        <li><a href="#"> Hệ thống đề xuất </a>
        </li>
        <li><a href="#"> Bài toán Deep Learning </a>
        </li>
    </ul>
    <ul class="topics-meta">
        <li>19 Lessons</li>
    </ul>
</div>