<div class="topics-wrapper border-style">
    <h3><a href="#"><span class="icon icon-circle-o text-red"></span>Regression</a>
    </h3>
    <hr>
    <ul class="topics-list">
        <li><a href="#"> Hồi quy cơ bản </a>
        </li>
        <li><a href="#"> Hồi quy với một đầu vào </a>
        </li>
        <li><a href="#"> Hồi quy đa biến </a>
        </li>
        <hr>
        <li><a href="#"> Các chỉ số đánh giá chất lượng </a>
        </li>
        <li><a href="#"> Hồi quy Ridge </a>
        </li>
        <li><a href="#"> Hồi quy Lasso </a>
        </li>
        <li><a href="#"> Hồi quy nâng cao </a>
        </li>
        <hr>
        <li><a href="#"> Các đặc điểm của biến </a>
        </li>
        <li><a href="#"> Xử lý dữ liệu bị khuyết (missing data) </a>
        </li>
        <li><a href="#"> Mã hóa biến hạng mục </a>
        </li>
        <li><a href="#"> Xử lý ngoại lệ và co giãn đặc trưng </a>
        </li>
        <hr>
        <li><a href="#"> Giới thiệu về lựa chọn đặc trưng </a>
        </li>
        <li><a href="#"> Phương pháp lọc </a>
        </li>
        <li><a href="#"> Phương pháp nhúng </a>
        </li>
        <hr>
        <li><a href="#"> ARIMA </a>
        </li>
    </ul>
    <ul class="topics-meta">
        <li>15 Lessons</li>
    </ul>
</div>